---
layout: layout
title: Guidelines
nav_title: Guidelines
order: 1
lang: en
---
<div class="container">
<div class="row">
<div class="span2">
	<div class="affix sidenav-container">
	<ul class="nav nav-list nav-stacked nav-border-sidenav affix-bottom bs-docs-sidenav">
		<li class="active"><a href="#section1">Guidelines</a></li>
		<li><a href="#section2"><i class="icon-chevron-right"></i> 1 Dependence</a></li>			
		<li><a href="#section3"><i class="icon-chevron-right"></i> 2 Risks</a></li>			
		<li><a href="#section4"><i class="icon-chevron-right"></i> 3 Vulnerability </a></li>	
		<li><a href="#section5"><i class="icon-chevron-right"></i> 4 Readiness</a></li>
		<li><a href="#section6"><i class="icon-chevron-right"></i> 5 Strategy</a></li>
			<li class="divider"></li>
		<li><a href="#section7"><i class="icon-chevron-right"></i> Model</a></li>
	</ul>

	<form class="navbar-form pull-left">
	  	<fieldset>
		    
		    <!--
			<span class="help-block">Follow the guidelines to see results.</span>
			-->
		    <div class="input-prepend">
			  <span class="add-on">Region:</span>
			  <input class="span2" id="region-def" type="text" placeholder="No Selection" disabled>
			</div>
			<p class=".navbar-text" id="region-info"></p>
		  </fieldset>
		  <fieldset>
			<p class=".navbar-text" id="region-info">
				Vulnerability: <span id="Vulnerability-nav-overall" class="label label-info">?</span>
			</p>
			<p class=".navbar-text" id="region-info">
				Readiness: <span id="Readiness-nav-overall" class="label label-info">?</span>
			</p>	
		  </fieldset>
		  <fieldset>
			<p class=".navbar-text" id="region-info">
				<a class="btn" href="#section1" onclick="loadExample()"><i class="icon-hand-right"></i> Load example</a>
			</p>
			<p class=".navbar-text" id="region-info">
				<a class="btn btn-info" href="http://bsan.eu/ZLyb0o" target="_blank"><i class="icon-envelope"></i> Send Feedback</a>
			</p>
			
		  </fieldset>
	</form>
	
	</div>
</div>

<div class="span9 offset3">

<div id="section1">
		<h1>Guidelines</h1>
		<p>
<p>
    <span class="help-block">For statistical purposes, please let us know the activity of your SME.</span>
	<form class="form-inline">
	    <input type="text" id="smesector_value" placeholder="Business Activity"><button type="button" class="btn" id="smesector">Submit</button>
		</form>

</p>
</div>
<div id="section2">
			<h2> 1 Dependence</h2>
<p>
 What sector/s is your company particulary dependent upon? For Mexico averages, see: <a href="https://dl.dropboxusercontent.com/u/22057816/Sector.xlsx">Sectors Database</a><br>
 
<div class="row">
<table class="table table-bordered span6">
              <thead>
                <tr>
                  <th></th>
                  <th>Energy</th>
                  <th>Water</th>
                  <th>Food</th>
                  <th>Infrastructure</th>
                  <th>Health</th>
                </tr>
              </thead>
              <tbody>
               	{% assign blocks =  "dependency|" | split: "|" %}
				{% for block in blocks %}
			 		<tr>
                  	<td>Company {{block}}</td> 
						{% include guide-row.html %}
                	</tr>
               {% endfor %}
              </tbody>
</table>
</div>


<div id="section3">
			<h1> 2 Risks</h1>
		<p>

<p id="offset-table">
Use the <a href="https://dl.dropboxusercontent.com/u/22057816/Condition.xlsx">Conditions Database</a> to determine the sector condition in your state. If you disagree, feel free to determine the condition yourself. <br>
 
<form class="form-search ui-widget">
  <input type="text" id="regions" class="input-medium search-query" placeholder="Search region deafults" autocomplete="off">
</form>
</p>

<div class="row">
<table  class="table table-bordered span6">
              <thead>
                <tr>
                  <th></th>
                  <th>Energy</th>
                  <th>Water</th>
                  <th>Food</th>
                  <th>Infrastructure</th>
                  <th>Health</th>
                </tr>  
              </thead>
              <tbody>

               		{% assign blocks =  "Condition|" | split: "|" %}
					{% for block in blocks %}
						<tr>
				   	<td>{{block | replace: '_', ' '}}</td> 
							{% include guide-row-vulnerability.html %}
				 	</tr>
				{% endfor %}
              </tbody>
</table>
</div>
From the <a href="https://dl.dropboxusercontent.com/u/22057816/Drivers.xlsx">Drivers Database</a> select the degree to which these drivers impact these sectors in your state. If you believe a driver has a stronger or lesser influence, select another option and we will record your answer to inform our future calculations of driver impacts.<br><br>
<div class="row">
<table  class="table table-bordered span6">
              <thead>
                <tr>
                  <th>Drivers</th>
                  <th>Energy</th>
                  <th>Water</th>
                  <th>Food</th>
                  <th>Infrastructure</th>
                  <th>Health</th>
                </tr>
              </thead>
              <tbody>

               	{% assign blocks =  "Natural_disasters|Precipitation_change|Drought|Sea_level_rise|Overconsumption" | split: "|" %}
				{% for block in blocks %}
			 		<tr>
                  	<td>{{block | replace: '_', ' '}}</td> 
						{% include guide-row-driver.html %}
                	</tr>
               {% endfor %}
              </tbody>
</table>
</div>

</div>
<div id="section4">
			<h1> 3 Vulnerability</h1>
			<p>
		Vulnerability is a function of dependency, condition and trends. The sector with the highest vulnerability is your priority sector. This is where you and your SME should work on building resilience for your business and your community first. 
		</p>
		<div class="row">
		<table class="table table-bordered span6 .table-condensed">
		              <thead>
		                <tr>
		                  <th></th>
		                  <th>Energy</th>
		                  <th>Water</th>
		                  <th>Food</th>
		                  <th>Infrastructure</th>
		                  <th>Health</th>
		                </tr>
		              </thead>
		              <tbody>
		               	{% assign blocks =  "Vulnerability|" | split: "|" %}
						{% for block in blocks %}
					 		<tr>
		                  	<td>{{block | replace: '_', ' '}}</td> 
								{% include guide-row-icons.html %}
		                	</tr>
		               {% endfor %}
		              </tbody>
		</table>
		</div>
		<div class="row">
			<div class="offset1 span5">
			<table class="table table-bordered">
		              <thead>
		                <tr>
		            		<th></th>
			                  <th>Overall</th>
		                </tr>
		              </thead>
		              <tbody>
		               	{% assign blocks =  "Vulnerability|" | split: "|" %}
						{% for block in blocks %}
					 		<tr>
		                  	<td>{{block | replace: '_', ' '}}</td> 
								{% assign sector =  "perception" %}
								{% include guide-icons-single.html %}
		                	</tr>
		               {% endfor %}
		              </tbody>
		</table>
		</div></div>


</div>
<div id="section5">
			<h1> 4 Readiness</h1>
	<p>
If your SME needs to take action, how easy will it be to make investments and create resilience for you and your community? 
Excess regulation, uncertainty about law enforcement and even political instability and violence can prevent many entrepreneurs from 
from creating the innovations needed in this rapidly changing world. Below are several key factors, based on the <a href=http://smeadaptation.org/en/survey/index.html>National SME Adaptation Survey</a> that entrepreneurs indicated are important in investing in their business and communities. 
Select the degree to which these "readiness" conditions apply to the business environment in which you operate.  	
	
	
	<div class="row">
	<div class="offset1 span5">
	<table class="table table-bordered">
	              <thead>
	                <tr>
	                  <th>Business Readiness</th>
	                  <th>Perception</th>
	                </tr>
	              </thead>
	              <tbody>
	               	{% assign blocks =  "Government_transparency|Fairness_in_starting_a_business|Satisfaction_with_state_regulations|Use_of_internet_in_starting_a_business|Ease_of_enforcing_contracts|Degree_of_labor_force_education|Degree_of_labor_force_education" | split: "|" %}
					{% for block in blocks %}
				 		<tr>
	                  	<td>{{block | replace: '_', ' '}}</td> 
							{% assign sector =  "perception" %}
							{% include guide-single-r.html %}
	                	</tr>
	               {% endfor %}
	              </tbody>
	</table>
	</div>	
	</div>
	
	
	<div class="row">
		<div class="offset1 span5">
		<table class="table table-bordered">
	              <thead>
	                <tr>
	            		<th></th>
		                  <th>Overall</th>	              
	                </tr>
	              </thead>
	              <tbody>
	               	{% assign blocks =  "Readiness|" | split: "|" %}
					{% for block in blocks %}
				 		<tr>
	                  	<td>{{block | replace: '_', ' '}}</td> 
							{% assign sector =  "perception" %}
							{% include guide-icons-single-r.html %}
	                	</tr>
	               {% endfor %}
	              </tbody>
	</table>
	</div></div>

		</div>

<div id="section6">
			<h1> 5 Strategy</h1>			
Now, look back to which sectors have the highest vulnerabilities. T
hese are your priority sectors, the sectors in which you should begin building resilience first. 
How you achieve this resilience will depend on your specific circumstances, but common strategies include investing in more efficient production processes, building a more diverse supply chain and utilizing new technology and information sources to predict potential disruptions. <br><br>

Second, think about your community and back at <a href="#section3">Step 2</a>. Unselect the company dependency and only look at the scores for your region. Are they similar or different than your company vulnerabilities? Can you provide products or services that address these vulnerabilities? If your state has high vulnerability to food, your SME might develop more reliable and efficient food delivery or technology distribution systems. High vulnerability in health might indicate an unmet demand for sanitary products. <br><br> 

What is the "readiness" score? Can you make investments easily to build resilience? If so, an aggressive investment strategy in these sectors may be the path forward. If readiness is low, other strategies, such as reaching out to civil society, universities and other businesses to develop cost-effective alliances and solutions to adaptation challenges may be best. <br><br>

 			</i>
<strong>Readiness Matrix</strong><br><br>

GREEN - High Readiness and Low Vulnerability. In this position, your SME should continue to invest, but the urgency is not generally high. <br><br>
BLUE - High Readiness and High Vulnerability. An aggressive strategy for investing in resilience is the path to take. <br><br>
RED - High Vulnerability and Low Readiness. In this circumstance, the return on investments may be low. Collaborations with mutually-interested partners could help build resilience as well as working toward highlighting the need for better governance and functioning markets to political and community leaders. <br><br>
YELLOW - Low Vulnerability and Low Readiness. Continuing to research vulnerabilities and gather data while engaging on increasing levels of readiness is recommended. 

<div id='rv-chart'></div>
</div>

Regardless of your position, consider these strategies moving forward: <br><br>		
		<ul>
<li> Investments in services or products - the SME can seek to expand in its current market by identifying specific services and products that can help communities adapt. Much of this will require new financial investments.</li><br>
<li> Change in internal practices - creating more efficient processes within the business that save energy, water and other resources. Some processes may require little capital investment while others may require installation of new machinery and technology.</li><br>
<li> Collaboration - reaching out to NGOs, other businesses and the government to develop solutions.</li><br>
<li> Gather information - there still may be no apparent path forward. New technologies and approaches may be needed. Check back with smeadaptation.org for solutions. </li><br> 
</ul>

Visit the <a href="http://smeadaptation.org/en/blog/index.html">SME Adaptation Blog</a> for examples of how similar entrepreneurs are addressing risks and finding opportunities in building resilience.

<br><br>
		
<div id="section7">
	<h1> Model</h1>

<ul>	
	<li>A Vulnerability score < 0 is Low, otherwise High</li>
	<li>A sector's Vulnerability score is defined as Dependency * (Condition-average of Drivers)</li>
	<li>Combined Vulnerability is the average of all sector risks</li><br>
	
	<li>Dependency scores Neutral_Low_Medium_High correspond respectively to [0,1,2,3]</li>
	<li>Condition scores Good_Moderate_Bad correspond respectively to [-3,0,3]</li>
	<li>Drivers scores Low_Moderate_Strong correspond respectively to [1,2,3]</li><br>
	
	<li>The Overall Readiness score is the average of all readiness indicators</li>
	</ul>	
	<br><br>
</div>	
		
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/lib/jquery/jquery-1.9.1.js"></script>
<script src="{{site.baseurl}}lib/bootstrap/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}lib/js/guidelines.js"></script>
