---
layout: layout
title: Guidelines
nav_title: Guidelines
order: 1
lang: en
---
<div class="container">
<div class="row">
<div class="span2">
	<div class="affix sidenav-container">
	<ul class="nav nav-list nav-stacked nav-border-sidenav affix-bottom bs-docs-sidenav">
		<li class="active"><a href="#section1">Guidelines</a></li>
		<li><a href="#section2"><i class="icon-chevron-right"></i>Step 1 Dependence & Supply</a></li>			
		<li><a href="#section3"><i class="icon-chevron-right"></i>Step 2 Sector Trends</a></li>			
		<li><a href="#section4"><i class="icon-chevron-right"></i>Step 3 Risk & Opportunity</a></li>	
		<li><a href="#section5"><i class="icon-chevron-right"></i>Step 4 Readiness</a></li>
		<li><a href="#section6"><i class="icon-chevron-right"></i>Step 5 Strategy</a></li>
			<li class="divider"></li>
	</ul>

	<form class="navbar-form pull-left">
	  	<fieldset>
		    
		    <!--
			<span class="help-block">Follow the guidelines to see results.</span>
			-->
		    <div class="input-prepend">
			  <span class="add-on">Region:</span>
			  <input class="span2" id="region-def" type="text" placeholder="No Selection" disabled>
			</div>
			<p class=".navbar-text" id="region-info"></p>
		  </fieldset>
		  <fieldset>
			<legend>Results</legend>
			<p class=".navbar-text" id="results">Something here</p>
					
		  </fieldset>

	</form>
	</div>
</div>

<div class="span9 offset3">

<div id="section1">
		<h1>Guidelines</h1>
		<p>

<p>
Open up this <a href="https://dl.dropboxusercontent.com/u/22057816/SME%20WORKBOOK.xlsx"> SME Workbook</a> and follow the guidance below!
</p>
<div class="btn-group">
  <button class="btn" ><a onclick="selectRegion('NL')" href="#section2">Nuevo León</a></button>
  <button class="btn" ><a onclick="selectRegion('DF')" href="#section2">Mexico DF</a></button>
  <button class="btn" ><a onclick="selectRegion('otro')" href="#section2">Other</a></button>
</div>



</div>

<div id="section2">
			<h2>Step 1 Dependence & Supply</h2>

<p>
In this step, think about how the company depends on the key sectors or provides products and services in these areas. Is it a large consumer of electricity? Does it depend upon water as an input in your products? Would a temporary blockage of road transport of its products and inputs create serious financial hardship? <br><br>
Next, consider in which sectors the SME provides products or services. This may be an easier process if the SME's core business is growing or processing food, energy production or healthcare provision. For other companies that repair or build machinery, consider how its work contributes to the larger functioning of the sector.<br><br> 

Choose below the dependence values for your SME. You can also load default values for each region.
<div class="row">
<table class="table table-bordered span6">
              <thead>
                <tr>
                  <th></th>
                  <th>Energy</th>
                  <th>Water</th>
                  <th>Food</th>
                  <th>Infrastructure</th>
                  <th>Health</th>
                </tr>
              </thead>
              <tbody>
               	{% assign blocks =  "|dependency|" | split: "|" %}
				{% for block in blocks %}
			 		<tr>
                  	<td>Company {{block}}</td> 
						{% include guide-row.html %}
                	</tr>
               {% endfor %}
              </tbody>
</table>
</div>

Only continue Step 2 for those sectors in which dependence is "High" or "Medium" and for which "yes" was selected. Sectors with "Low" and "no" responses are likely not priorities for the SME to address at this time.<br><br> 

<div id="section3">
			<h1>Step 2 Sector Trends</h1>
		<p>
<br><strong>Direct Data</strong><br>
<br>For your priority sectors, first, look for any direct data on the current and projected conditions in this sector. The scale of measurement will be dependent on your business operations. Your operational scale may be at the community, state, regional or national level. Data will exist for some scales and be nonexistent or incomplete at others. Different strategies will need to be undertaken to account for this difference.<br><br>

<i>Local data</i> can come from local trade associations and academic institutions/universities.  <br>
<i>State and regional</i> information can come from government databases and academic institutions/universities. <br>
<i>National data</i> can come from government databases and academic institutions/universities <br><br>

View this <a href="https://dl.dropboxusercontent.com/u/22057816/Sector%20Data.xlsx">Sector Data</a> excel sheet for state and national data for these sectors. In the SME Workbook, select whether the sector is Declining, Stable or Improving based on this research. 

<br><br><strong>Global forces data</strong><br><br>
When there is a lack of direct data for your target sector, or, additional research is desired, look at global forces that 
impact the sector. This will require more research and engagement with the topic. Almost all trends 
in global forces, such as population change, precipitation variation and increases in natural disasters 
can impact the target sector. The leadership of the SME or an expert consultant will need to use his/her best 
judgement, based on knowledge of their own operations, on how these global forces affect priority sectors. 
For instance, a farmer that relies primarily on precipitation (instead of irrigation) will need to examine projections 
in precipitation change. A manufacturer dependent on a steady supply of electricity, may look at population and 
temperature trends to anticipate future increases in energy demand. For known data on these indirect data, 
see this <a href="https://dl.dropboxusercontent.com/u/22057816/Indirect%20Forces.xlsx">Global Forces</a> excel sheet.<br><br>

In the SME Workbook, determine whether global forces are causing negative, neutral or positive trends in the priority sectors and 
tally the combined effects. Compare the assessment of the direct data with global forces and determine the final condition. 
<div class="row">
<table class="table table-bordered span6">
              <thead>
                <tr>
                  <th>Global Forces</th>
                  <th>Energy</th>
                  <th>Water</th>
                  <th>Food</th>
                  <th>Infrastructure</th>
                  <th>Health</th>
                </tr>
              </thead>
              <tbody>
               	{% assign blocks =  "population_change|change_in_precipitation|sea_level_rise|water_supply|drought|infant_mortality|natural_disasters|technological_change|input_prices|change_in_temperature" | split: "|" %}
				{% for block in blocks %}
			 		<tr>
                  	<td>{{block | replace: '_', ' '}}</td> 
						{% include guide-row-vulnerability.html %}
                	</tr>
               {% endfor %}
              </tbody>
</table>
</div>

</div>
<div id="section4">
			<h1>Step 3 Risk & Opportunity</h1>
		<p><br>

If a sector is in decline and the SME has medium-to-high dependence, then we will classify this sector as a risk for the SME. If the SME provides a service or product and the sector is in decline, then there may be demand for the SME to build resilience in this sector. 
		</p>
		<div class="row">
		<table class="table table-bordered span6 .table-condensed">
		              <thead>
		                <tr>
		                  <th></th>
		                  <th>Energy</th>
		                  <th>Water</th>
		                  <th>Food</th>
		                  <th>Infrastructure</th>
		                  <th>Health</th>
		                </tr>
		              </thead>
		              <tbody>
		               	{% assign blocks =  "risk|opportunity" | split: "|" %}
						{% for block in blocks %}
					 		<tr>
		                  	<td>{{block | replace: '_', ' '}}</td> 
								{% include guide-row-icons.html %}
		                	</tr>
		               {% endfor %}
		              </tbody>
		</table>
		</div>


</div>
<div id="section5">
			<h1>Step 4 Readiness</h1>
	
	<strong>Business Readiness</strong> <br><br>
	How are the conditions for investing in your business and your community? Examine the indicators in the SME Workbook. Are costs of tax legislation, favoritism by local authorities and corruption major hinderances to investment? <br><br>
	<div class="row">
	<div class="offset1 span5">
	<table class="table table-bordered">
	              <thead>
	                <tr>
	                  <th>Business Readiness</th>
	                  <th>Perception</th>
	                </tr>
	              </thead>
	              <tbody>
	               	{% assign blocks =  "favoritism_by_local_authorities|security_concerns|goverment_corruption|permits_and_licenses_cost|inconsistent_law_enforcement|tax_burden|political_instability" | split: "|" %}
					{% for block in blocks %}
				 		<tr>
	                  	<td>{{block | replace: '_', ' '}}</td> 
							{% assign sector =  "Perception" %}
							{% include guide-single.html %}
	                	</tr>
	               {% endfor %}
	              </tbody>
	</table>
	</div>	
	</div>
	
	<strong>Goverment Readiness</strong> <br><br> 
	Further, are local, state and government policies proactively addressing vulnerabilities and attempting to build resilience?<br><br> 
	<div class="row">
	<div class="offset1 span5">
	<table class="table table-bordered">
	              <thead>
	                <tr>
	                  <th>Goverment Readiness</th>
	                  <th>Perception</th>
	                </tr>
	              </thead>
	              <tbody>
	               	{% assign blocks =  "action_plans|leadership|" | split: "|" %}
					{% for block in blocks %}
				 		<tr>
	                  	<td>{{block | replace: '_', ' '}}</td> 
							{% assign sector =  "Perception" %}
							{% include guide-single.html %}
	                	</tr>
	               {% endfor %}
	              </tbody>
	</table>
	</div>	
	</div>



		</div>

<div id="section6">
			<h1>Step 5 Strategy</h1>
Several strategies exist according to the risk or opportunity present in each sector. Four key strategies include: <br><br>

<ul>
<li> Investments in services or products - the SME can seek to expand in its current market by identifying specific services and products that can help communities adapt. Much of this will require new financial investments.</li><br>
<li> Change in internal practices - creating more efficient processes within the business that save energy, water and other resources. Some processes may require little capital investment while others may require installation of new machinery and technology.</li><br>
<li> Collaboration - reaching out to NGOs, other businesses and the government to develop solutions.</li><br>
<li> Gather information - there still may be no apparent path forward. New technologies and approaches may be needed. Check back with smeadaptation.org for solutions. </li><br> 
</ul>

Depending on the investment environment and government engagement, one or all of these strategies might be pursued. <br><br>

		</div>


<script>
function readDefaults(id){
	    var json = null;
	    $.ajax({
	        'async': false,
	        'global': false,
	        'url': '/lib/default-regions.json',
	        'dataType': "json",
	        'success': function (data) {
	            json = data;
	        }
	    });
		console.log(json);
	    return json[id];
}
function classDefault(id){
	dic={"Low":"btn-success","Medium":"btn-warning","High":"btn-danger",
		 "Positive":"btn-success","Neutral":"","Negative":"btn-danger"};
	return dic[id];
}
function selectRegion(id){
	var vals= readDefaults(id);

	$("#region-def").val(vals.name);
	$("#region-info").html("[Using default values for Region]");
	for(var section in vals){
		for(var key in vals[section]){
			$('#'+section+'-'+key).val(vals[section][key])
			.removeClass('btn-success btn-warning btn-danger')
			.addClass(classDefault(vals[section][key]));
	  	 }
	}
	countResults();
}
function applyClass(){
	var id=$("#"+event.target.id).val();
	$("#"+event.target.id).removeClass('btn-success btn-warning btn-danger').addClass(classDefault(id));
	$("#region-info").html("[Customized region]");
	countResults();
}

function countResults(){
	var vals= readDefaults("NL"); //read only to get blocks and sector
	var sectors=["energy","water","food","infra","health"];
	var items=["Low","Medium","High","Positive","Negative"];
	for(var i = 0; i < sectors.length; i++){
		var Lows = Mediums = Highs = Positives = Neutrals = Negatives = 0;
		for(var block in vals){
			switch($('#'+block+'-'+sectors[i]).val()){
				{% assign items =  "Low|Medium|High|Positive|Negative" | split: "|" %}
				{% for item in items %}
				case "{{item}}":
					{{ item }}s++;
					break;
				{% endfor %}
			}//switch		
	  	 }//section vals
		//set badges for this sector
		var blocks = ["risk","opportunity"];
		var overall="";
	    for(var j = 0; j < blocks.length; j++){
			$("#"+blocks[j]+"-"+sectors[i]+"-low").text(Lows+Positives);
	    	$("#"+blocks[j]+"-"+sectors[i]+"-medium").text(Mediums);
	    	$("#"+blocks[j]+"-"+sectors[i]+"-high").text(Highs+Negatives);
			if (Lows+Positives < Highs+Negatives){
				overall="High";
			}else{
				overall="Low";
			}
			$("#"+blocks[j]+"-"+sectors[i]+"-overall").text(overall);
		}//for blocks badges
	}//for sectors
	
}

</script>
