<div id="myCarousel" class="carousel slide span12" data-interval="false">
  <div class="carousel-inner">
    <div id="carousel1" class="item">
		  	<iframe width='940' height='480' frameBorder='0' src='http://a.tiles.mapbox.com/v3/gai.map-df7e710b.html#5.024083238061253/20.863393848898742/-93.06918158867389'></iframe>
      <div class="container">
        <div class="carousel-caption caption-offset">
          <h1>
	{% if page.lang == 'en' %}
		Water
	{% else %}
		Agua
	{% endif %}
		</h1>
          <p class="lead">
	{% if page.lang == 'en' %}
		Water Scarcity is an increasing challenge in Mexico. According to our survey 60% identify water as a major driver of their mid-term outlook.
	{% else %}
		La escasez de Agua es un importante reto en Méjico. Nuestro análisis sugiere que el 60% de las SME identifican agua como uno de los mayores retos a medio plazo en su negocio
	{% endif %}	
		</p>
        </div>
      </div>
    </div>
    <div id="carousel2" class="item active">
      <div id="map1"> </div>
      <div class="container">
        <div class="carousel-caption caption-offset">
          <h1>
	{% if page.lang == 'en' %}
		Food
	{% else %}
		Comida
	{% endif %}
		</h1>
	         <p class="lead">
	{% if page.lang == 'en' %}
		75% of the supply for SME depend directly on reliable food and agriculture suppliers.
	{% else %}
		75% de la provisión de las  SME depende directamente de sistemas confiables de comida y agricultura.
	{% endif %}
	</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control carousel-control-left " href="{{site.baseurl}}#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control carousel-control-right " href="{{site.baseurl}}#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<script>
  var map = mapbox.map('map1',false, {x: 940, y: 500});
  //var map = mapbox.map('map1',false, {x: 256, y: 500});
  map.addLayer(mapbox.layer().id('gai.map-df7e710b'));
  map.ui.zoomer.add();
  map.zoom(5).center({ lat: 20.8, lon: -94 });

{% include markers.js %}


  map.ui.attribution.add()
      .content('<a href="http://mapbox.com/about/maps">Map Terms</a>');
</script>
