<div id="myCarousel" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
    <div  class="item active">
		  	<iframe width='940' height='480' frameBorder='0' src='http://a.tiles.mapbox.com/v3/gai.map-df7e710b.html#5.024083238061253/20.863393848898742/-93.06918158867389'></iframe>
      <div class="container">
        <div class="carousel-caption caption-offset">
          <h1>Water</h1>
          <p class="lead">Water Scarcity is an increasing challenge in Mexico. According to our survey 60% identify water as a major driver of their mid-term outlook.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <div id="map"> </div>
      <div class="container">
        <div class="carousel-caption caption-offset">
          <h1>Food</h1>
          <p class="lead">70% of the income of SME depends directly on Agricultural products.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="img/img-03.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control carousel-control-left " href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control carousel-control-right " href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<script>
  //var map = mapbox.map('map',false, {x: 940, y: 500});
  var map = mapbox.map('map',false, {x: 256, y: 300});
  map.addLayer(mapbox.layer().id('gai.map-df7e710b'));
  map.ui.zoomer.add();
  map.zoom(5).center({ lat: 20.8, lon: -94 });

  map.ui.attribution.add()
      .content('<a href="http://mapbox.com/about/maps">Map Terms</a>');
</script>
