<div id="myCarousel" class="carousel slide span12" data-interval="false">
  <div class="carousel-inner">
    <div id="carousel1" class="item active">
      <div id="map1">
      <div class="container">
        <div class="carousel-caption caption-offset">
          <h1>
	{% if page.lang == 'en' %}
		Input price
	{% else %}
		Precios Insumos
	{% endif %}
		</h1>
	         <p class="lead">
	{% if page.lang == 'en' %}
		Percentage of SME who identify risk on input prices variability.
	{% else %}
		Porcentaje de PyMEs que reconocen riesgos en la variación de los precios de insumos.
	{% endif %}
	</p>
        </div>
      </div>
    </div>
    <div id="carousel2" class="item ">
      <div id="map2">
      <div class="container">
        <div class="carousel-caption caption-offset">
          <h1>
	{% if page.lang == 'en' %}
		Energy Access
	{% else %}
		Acceso Energía
	{% endif %}
		</h1>
	         <p class="lead">
	{% if page.lang == 'en' %}
		Percentage of SME who identify risk on energy access.
	{% else %}
		Porcentaje de PyMEs que reconocen riesgos en el acceso a energía.
	{% endif %}
	</p>
        </div>
      </div>
    </div>

  </div>


  <a class="left carousel-control carousel-control-left " href="{{site.baseurl}}#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control carousel-control-right " href="{{site.baseurl}}#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<script>
var maps={"map1":"gai.map-df7e710b",
		  "map2":"gai.map-df7e710b",}
for(var key in maps){
		  insertMap(key,maps[key]);
};

function insertMap(id,name){
  var map = mapbox.map(id,false, {x: 940, y: 500});
  //var map = mapbox.map('map1',false, {x: 256, y: 500});
  map.addLayer(mapbox.layer().id(name));
  map.ui.zoomer.add();
  map.zoom(5).center({ lat: 20.8, lon: -94 });

{% include markers.js %}

  map.ui.attribution.add()
      .content('<a href="http://mapbox.com/about/maps">Map Terms</a>');
}
</script>
