<footer class="footer">

       <p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a> Project by <a href="http://nd-gain.org" target="_blank">ND-GAIN</a> & <a href="http://itesm.mx" target="_blank">Tecnológico de Monterrey</a>. Funded by <a href="http://www.templeton.org/" target="_blank">The John Templeton Foundation</a>. <i class="icon-random"></i> Fork this <a href="https://github.com/gain/smeadaptation.org">code</a>.</p>
</footer>