---
layout: layout
---

<div class="container">
<div clas="row">
	<div class="span 12">
{{if page.location}}
		<h1>{{ page.title }}</h1>
		<div id="map"></div>
		</div>
	</div>
{{endif}}
	
<div class="row">
  	<div class="span2" >
	<img src="{{site.baseurl}}img/{{page.image}}">
	</div>
	<div class="span8">
		<p>
			{{ page.date | date: "%B %e, %Y" }}
		</p>
		<p>		
    		{{ content }}
		</p>
	<hr />
	<a class="btn" href="{{site.baseurl}}{{page.lang}}/blog">All Posts</a>
	</div>
</div>
</div>

{{if post.loc}}
<script>
  var map = mapbox.map('map',false, {x: 940, y: 200});
  map.addLayer(mapbox.layer().id('gai.map-df7e710b'));
  map.ui.zoomer.add();
  map.zoom(5).center({ lat: 20.8, lon: -94 });

// Create an empty markers layer
  var markerLayer = mapbox.markers.layer();

// Add interaction to this marker layer. This
// binds tooltips to each marker that has title
// and description defined.
  map.addLayer(markerLayer);

// See the 'adding a single marker example for help with adding a marker
  markerLayer.add_feature({
    geometry: {
        coordinates: {{ page.loc }}
    },
    properties: {
        'marker-color': {{page.color}},
        'marker-symbol': {{page.icon}},
        title: '{{page.title}}'
    }
  });


  map.ui.attribution.add()
      .content('<a href="http://mapbox.com/about/maps">Map Terms</a>');
</script>
{{endif}}
